body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

/* INTRO */
.intro {
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Fade */
.fade-in { animation: fadeIn 2s; }
.fade-out { animation: fadeOut 1s forwards; }

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeOut {
    to {opacity: 0;}
}

/* MAIN */
.container {
    margin-top: 120px;
}

h1 {
    font-size: 36px;
    color: #ff4d6d;
}

/* Buttons */
button {
    padding: 12px 25px;
    margin: 10px;
    border-radius: 25px;
    border: none;
    background: #ff4d6d;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.1);
}

#noBtn {
    position: absolute;
}

/* Pink Page */
.pink {
    background: #ffe6ea;
}

/* Hearts */
.hearts span {
    position: absolute;
    bottom: -20px;
    animation: float 8s linear infinite;
}

@keyframes float {
    0% {transform: translateY(0); opacity:1;}
    100% {transform: translateY(-100vh); opacity:0;}
}

/* Cursor */
#typing::after {
    content: "|";
    animation: blink 1s infinite;
}

@keyframes blink {
    50% {opacity: 0;}
}